<html>
  <head>
    <link rel="stylesheet" href="https://4taba2.net/pub/css/multi-theme.css">
  </head>
  <body style="margin:18px;">
    <strong>
      Type in a board(no slashes) and thread to save.
      <br/>
      A *.zip file will be returned containing JSON data along with Thumbs, Images and Files
    </strong>
    <form action='/get'>
      <input placeholder='board' Name='board' />
      <input placeholder='thread-no' Name='thread' />
      <br/>
      <input type='submit' />
    </form>
    <hr/>
    {{.Time}}
  </body>
</html>
